.App {
	max-width: 800px;
	padding: 0 20px;
	margin: auto;
}

/* border-color: transparent #eaeaea transparent transparent; */
main {
	background: #ffffff;
	margin-bottom: 50px;
}

.stats {
	text-align: center;
	position: relative;
}
.info-demo .stats {
	display: none;
}

.input-file--hidden {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.label-input-file {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 500ms;
	border-right: 5px solid #eaeaea;
}

.label-input-file:hover,
.input-file--hidden:focus + .label-input-file {
	outline: none;
	background: #c6c6c6;
	border-right: 5px solid #c6c6c6;
	color: #414141;
}

.input-button {
	border: none;
	padding: 10px 20px;
	color: #d1d1d1;
	position: relative;
	background: #000066;
	font-size: 1rem;
	cursor: pointer;
	transition: 500ms;
}

.input-button:hover {
	color: #ffffff;
	background: #000000;
}

.input-button:focus {
	outline: none;
	color: white;
	background: #000000;
}

.input-text {
	padding: 10px;
	background: #ffffff;
	border: none;
	color: #8e8e8e;
	font-weight: normal;
}

.input-text:focus {
	outline: none;
	color: #333333;
	font-weight: bold;
}

.input-text:focus::placeholder {
	outline: none;
	color: #333333;
	font-weight: bold;
}

.input-group {
	display: grid;
	width: 100.05%;
	grid-template-columns: 1fr;
}

.multifile-upload-group {
	display: grid;
	grid-template-columns: 1fr 102px;
}
#logo {
	color: white;
	font-weight: bold;
	font-size: 2rem;
	margin: 50px 0;
	text-align: center;
	user-select: none;
}

.error-message {
	text-align: center;
	padding: 20px;
	color: #999999;
	font-size: 1rem;
}

@media (min-width: 375px) {
	.multifile-upload-group {
		grid-template-columns: 1fr 130px;
	}
}

@media (min-width: 600px) {
	.multifile-upload-group {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 768px) {
	.App {
		padding: 0 50px;
	}
}

@media (min-width: 1200px) {
	.App {
		max-width: 80%;
	}

	.stats {
		display: none !important;
	}
	.info-demo .stats {
		display: block !important;
		flex: 100%;
		text-align: center;
	}
}
